<h1>Available Courses</h1>

<input
  type="text"
  placeholder="Search Course"
  [(ngModel)]="searchTerm"
  (keyup)="updateSearch()">

<br><br>

<div *ngIf="isLoading">

  <h2>Loading Courses...</h2>

</div>

<div
  *ngIf="errorMessage"
  style="color:red;">

  {{ errorMessage }}

</div>

<div *ngIf="!isLoading && !errorMessage">

  <div *ngIf="courses.length > 0; else noCourses">

    <app-course-card

      *ngFor="let course of courses; trackBy: trackByCourseId"

      [course]="course">

    </app-course-card>

  </div>

</div>

<ng-template #noCourses>

  <h2>No Courses Available</h2>

</ng-template>